/* Open Sans font  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    @apply font-primary;
}

h1 {
    @apply xs:text-[24px] font-bold	 sm:text-[40px] md:text-[40px] lg:text-[50px] xl:text-[60px];
}
h2 {
    @apply xs:text-[16px] font-bold sm:text-[28px] md:text-[28px] lg:text-[28px] xl:text-[32px];
}
p {
    @apply xs:text-[14px] font-normal sm:text-[14px] md:text-[16px] lg:text-[16px] xl:text-[16px];
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.hover-transition {
    @apply transition duration-200 ease-in-out;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

@media only screen and (min-width: 1200px) {
    .success-bg {
        background-image: url("/img/success-bg.svg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
}
.container1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container2 {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-right: 20px;
}
.drawer ::-webkit-scrollbar {
    display: none;
}
.text-line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.text-line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.modal-scroll {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow-y: scroll;
}
.modal-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.arrow {
    width: 240px;
    background: #ffffff;
    height: 61px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    z-index: 999;
    border-radius: 4px;
}
.arrow-top:before {
    position: absolute;
    top: -10px;
    left: 85%;
    margin-left: -10px;
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

/* Uppy File Uploader  */

.uppy-Root * {
    font-family: "Open Sans", sans-serif !important;
}

.uppy-Dashboard--modal .uppy-Dashboard-overlay {
    background-color: rgb(25, 25, 25, 0.25) !important;
}

.uppy-Dashboard--modal .uppy-Dashboard-inner {
    box-shadow: none !important;
}

.uppy-Dashboard--modal .uppy-Dashboard-inner .file-upload-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 30px;
    padding-right: 20px;
    background-color: #101010;
}

.uppy-Dashboard--modal .uppy-Dashboard-inner .uppy-Dashboard-close {
    display: none !important;
}

.uppy-Dashboard--modal .uppy-Dashboard-inner .uppy-Dashboard-innerWrap {
    height: calc(100% - 50px) !important;
}
.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 14px;
    margin-bottom: 14px;
}
.divider2 {
    border: 0;
    height: 0;
    border-bottom: 0.75px solid lightgray;
    margin-top: 14px;
    margin-bottom: 14px;
}
.thumbnail-wrapper img {
    min-width: 100%;
    height: 100%;
}
